@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle.active {
    right: 0;
}

.navbar-h {
    padding-top: calc((clamp(12px, 6.615383px + 1.538462vw, 22px)) * 2 + 80px);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
    border: 2px solid #00236B;
}

.lg-next::before {
    content: "►" !important;
}

.lg-prev::after {
    content: "◀" !important;
}

.lg-toolbar .lg-close::after {
    content: "⛌" !important
}

.lg-zoom-in,
.lg-toolbar .lg-download {
    display: none;
}